# DHCP Host Location
ldap-server "{{ ansible_hostname }}.{{ ansible_domain }}" ;
ldap-port 389 ;

# A user with read/write access to the database
ldap-username "{{ ldap_admin_dn }}" ;
ldap-password "{{ ldap.bind_pw }}" ;

# Identify the root object of the config
ldap-base-dn "dc={{ ansible_domain.split('.') | join(',dc=') }}" ;
ldap-dhcp-server-cn "{{ ansible_hostname }}" ;

# All queries check the database
ldap-method dynamic ;

# Write the DHCP config for validation
#   An empty file must exist before starting the daemon
#   And it must be writable by the dhcpd user
#ldap-debug-file "/var/log/dhcp-ldap-startup.log" ;
